@use '../../styles/variables' as *;

.app {
  min-width: 1000px;
  width: 100%;
  background: $primary-white;
  border-radius: 20px;
  padding: 20px 55px;
  box-sizing: border-box;
  font-family: $font-family;
  margin: auto;

  @media (max-width: 1000px) {
    min-width: 600px;
    width: 100%;
    padding: 20px;
  }

  @media (max-width: 600px) {
    min-width: 300px;
    width: 100%;
    padding: 10px;
  }

  &Title {
    font-size: $typography-header;
    margin-bottom: 0.3em;
    text-align: center;

    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }

  &Text {
    text-align: center;
    font-size: 1rem;
  }
}

.filters {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 20px;

  button {
    padding: 8px 16px;
    border: $btn-border;
    background: $button-background;
    border-radius: $border-radius;
    cursor: pointer;
    transition: $transition;
    color: $primary-black;
    max-width: 200px;
    width: 100%;

    &:hover {
      scale: 1.05;
      color: $primary-black;
    }

    &.active {
      background: $button-dark;
      color: $primary-white;
      border-color: $button-dark;
    }
  }
}

.activeTasksCount {
  display: block;
  text-align: center;
  font-size: 1rem;
  background: $primary-black;
  color: $primary-white;
  padding: 12px 10px;
  border-radius: 10px;
}
