.app {
  min-width: 600px;
  background: #fff;
  border-radius: 20px;
  padding: 20px 55px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  &Title {
    font-size: 40px;
    margin-bottom: 0.3em;
    text-align: center;
  }

  &Text {
    text-align: center;
    font-size: 1rem;
  }
}

.filters {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;

  button {
    padding: 8px 16px;
    border: 1px solid #ddd;
    background: grey;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: white;

    &:hover {
      scale: 1.1;
    }

    &.active {
      background: #007bff;
      color: white;
      border-color: #007bff;
    }
  }
}

.activeTasksCount {
  display: block;
  text-align: center;
  font-size: 1rem;
  background: black;
  color: white;
  padding: 12px 10px;
  border-radius: 10px;

}