@import '../../../styles/_variables.scss';

.addTask {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  font-family: $font-family;

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 8px;
  }

  &Value {
    flex: 1;
    padding: 10px 12px;
    font-size: 16px;
    border: $label-border;
    border-radius: $border-radius;
    outline: none;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      border-color: $button-dark;
      box-shadow: $box-shadow;
    }

    &::placeholder {
      color: $btn-border;
      font-style: italic;
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  &Button {
    padding: 10px 20px;
    font-size: $typography-text;
    font-weight: $base-weight;
    color: $primary-white;
    background-color: $button-dark;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      scale: 1.05;
    }
    &:focus {
      outline: none;
      box-shadow: $box-shadow;
    }
    &:disabled {
      background-color: $disabled-button;
      cursor: not-allowed;
    }
    @media (max-width: 480px) {
      width: 100%;
      padding: 12px;
    }
  }
}
